//@import '~@fluentui/react/dist/sass/References.scss';
@import'~office-ui-fabric-react/dist/sass/_References.scss';
.bannerWebPart {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.welcomeImage {
  width: 100%;
  max-width: 420px;
}

